*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
    
}


header h1{
    color: white;
    text-align: center;
    font-size: 20px;

}

header picture img{
    background-color: white;
    height: 10rem;
    padding: 30px;
    width: 10rem;
}

nav {
    background-color: black;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 10px;
    margin-top: 1px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
}

nav ul li a:hover {
    background-color: rgb(245, 244, 243);
    color: green;
    transition: 0.5s;
    border-radius: 20px 0px 20px 0px;
}

main{
    display: flex;
    
}


main aside {
    background-color:rgb(236, 239, 241);
    margin: 1px;
    width: 25%;
    height: 35vh;
    border-radius: 0px 5px 5px 0px;
    border: solid rgb(12, 12, 12) 1px;
    
}

main aside ol {
    text-decoration: none;
    list-style: none;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    
}
 main aside ol h4 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
    
}
 
main aside ol label{
    display: flex;
    align-items: center;
    gap: 5px;
}


aside a button {
    background-color: black;
    color: white;
    width: 90%;
    margin: 4rem 5px 0 5px;
    padding: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    font-weight: bolder;
    font-size: 14px;
    border-radius: 5px;
}

aside a button:hover {
    background-color: white;
    color: green;
    transition: 0.5s;
}

main section {
    width: 100vw;
    margin: 2px;
}


main section h2{
    text-align: center;
    padding-top: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main section article a{
    text-decoration: none;

}

#imagensLink {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    gap: 10px;
}

#imagensLink figure img {
    width: 300px;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px 5px 0px 0px;
}

#imagensLink a figure:hover  {
    scale: 1.05;
    transition: 0.5s;
}

#imagensLink figure figurecaption h3 {
    color: green;
    background-color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    align-content: center;
    border-radius: 0px 0px 5px 5px;
    
    
}

#imagensLink figure figurecaption h3:hover {
    background-color: rgb(63, 62, 62);
    transition: 0.5s;
}

#imagensLink a {
    text-decoration: none;
}
